
<a href="https://colab.research.google.com/github/aviadr1/learn-python/blob/master/content/02_variables/notebooks/lists.ipynb" target="_blank">
<img src="https://colab.research.google.com/assets/colab-badge.svg" 
     title="Open this file in Google Colab" alt="Colab"/>
</a>

In [ ]:
x = ["one", "two", "three", "four"]

In [ ]:
x[0]

'one'

In [ ]:
x[1]

'two'

In [ ]:
x[2]

'three'

In [ ]:
len(x)

4

In [ ]:
x[len(x) - 1]

'four'

In [ ]:
x[-1]

'four'

In [ ]:
x[-2]

'three'

In [ ]:
x[-3]

'two'

In [ ]:
x[-4]

'one'

In [ ]:
x[3]

'four'

In [ ]:
x[4]

IndexError: list index out of range

In [ ]:
x[-5]

IndexError: list index out of range

In [ ]:
x

['one', 'two', 'three', 'four']

In [ ]:
x[-1] = 4

In [ ]:
x

['one', 'two', 'three', 4]

In [ ]:
type(x[-1])

int

In [ ]:
type(x[0])

str

In [ ]:
x[0] = x[0].upper()

In [ ]:
x

['ONE', 'two', 'three', 4]

In [ ]:
x[-1] = "four"

In [ ]:
numbers = x

In [ ]:
[num.upper() for num in numbers]

['ONE', 'TWO', 'THREE', 'FOUR']

In [ ]:
numbers[0]

'ONE'

In [ ]:
numbers[0][0]

'O'

In [ ]:
numbers[1][2]

'o'

In [ ]:
numbers

['ONE', 'two', 'three', 'four']